html, header, body {
    margin: 0; /*Definindo a margem como 0*/
    padding: 0; /*Definindo o espacamento como 0*/
    height: 100%; /*a altura vai sempre cobrir o maximo possivel*/
    font-family: 'Calibri', sans-serif; /*Fontes textuais*/
    background-color: #f6f6f6; /*Fndo 'branco' do site*/
}
.imagem_cell{
    display: none;/*Imagem que so vai aparecer no celular*/
}
.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.conteudo-lateral {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.imagem-lateral {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    background-color: transparent;
    margin-left: 30px;
    margin-right: 30px;
}

.imagem-lateral img {
    box-shadow: none;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.infos{
    color: #ffffff; /*cor do texto*/
    width: 100%; /*largura ocupando a tela toda*/
    display: flex;
    flex-direction: row;/*Direção dos elementos, nesse caso para baixo*/
    align-items: start;/*alinhamento dos itens nesse caso da direita para esquerda*/
    justify-content: space-between; /*disposição dos elementos, nesse caso ele jodga para os 2 cantos*/
}
.pessoas, .resto{
    height: 100vh;
    max-height: 520px;
/*essas duas linhas são provisórias, depois tirar*/
    margin-top: 0; /*tirando a margem do topo*/
    line-height: 1.7; /*aumentando o espaço entre as linhas*/
    display: flex;
    flex-direction: column;
    background-color: #467485;/*cor do fundo*/
    padding-left: 10px;/*espaçamento na esquerda*/
    padding-right: 10px;/*espaçamento na direita*/
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);/*adicionando umas sombras aos elementos*/
}
.pessoas{
    min-width: 300px;
    border-top-right-radius: 20px;/*arredondando o canto superior direito*/
    border-bottom-right-radius: 20px;/*arredondando o canto inferior direito*/
}
.pessoas ul {
    padding-left: 20px;
    padding-bottom: 20px;/*espaçamento embaixo*/
    margin: 0;
}
.pessoas h2{
    line-height: 0.7;
}
.imagem_pc {
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
    background-color: transparent; /* Pode ser transparente ou outra cor, dependendo do design */
    padding: 10px; /* Adiciona um pequeno espaçamento ao redor da imagem */
}
.imagem_pc img {
    max-width: 100%;
    height: auto; /* Garante que a imagem mantenha sua proporção */
    border-radius: 10px; /* Deixa a imagem com cantos arredondados, opcional */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Adiciona uma leve sombra para destaque */
}
.resto{
    padding-left: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;/*alinhando o texto no meio*/
    line-height: 0.7;/*diminuindo o espaço entre as linhas*/
}
.resto img{
    max-width: 290px;/*definindo a largura da log com no maximo 300 pixels*/
    height: auto;/*altura automatica, vai preservar a proporcionalidade*/
}
.textos{
    padding-top: 0;
    max-width: 800px;
    text-align: center;
    color: #555;
    line-height: 1.6;
    margin: 0 auto;
}
.textos h1{
    margin-bottom: 10px;
    color: #333;
}
.textos img{
    border-radius: 20px;
    width: 300px; 
    height: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
/*padronização dos textos (a depender do caso terá que ser mudado)*/
.resumo{
    margin-bottom: 40px;
}
.introducao {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.introducao img {
    margin-left: 40px;
}
